<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/shebao" method="POST">
        <div>
            <label for="id_base">输入基数</label>
            <input type="input" name="base" id="id_base" value="{{ base }}">
        </div>
        <div>
            <label>选择户口</label>
            <select name="is_city">
                <option value="1">城市户口</option>
                <option value="0">农村户口</option>
            </select>
        </div>
        <input type="submit" value="开始计算">
    </form>
    {% if base %}
    <table>
        <tr>
            <th>项目</th>
            <th>个人缴费</th>
            <th>单位缴费</th>
        </tr>
        <tr>
            <td>养老保险</td>
            <td>{{ yl_gr }}</td>
            <td>{{ yl_dw }}</td>
        </tr>
        <tr>
            <td>失业保险</td>
            <td>{{ sy_gr }}</td>
            <td>{{ sy_dw }}</td>
        </tr>
    </table>
    {% endif %}
<img src="/static/images/yueliang.jpeg" alt="">
{% load static %}
<img src="{% static 'images/yueliang.jpeg' %}" alt="">

</body>
</html>